<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/pico.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Mi Cartera - {{ title }}</title> <!--Anadimos una variable y entonces se la pasamos cuando hacemos el render_template -->
</head>
<body>
    <header>
        <p>Mi cartera</p>
    </header>
    <nav class="container" style="padding-top: 15pt;">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/new_movement">New</a></li>
        </ul>
    </nav>
    {% with messages = get_flashed_messages() %} 
    {%if messages %} 
    <div class="msg-error container" style="padding-top: 15pt;">
        {%for message in messages%}
            <p>{{message}}</p>
        {%endfor%}
    </div>
    {%endif%} 
    {%endwith%} 

    <main class="container">
    {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Iv3tt3</p>
    </footer>
</body>

</html>