{% extends "base.html" %} <!-- Esto quiere decir que heredo de base.html-->

{% block content%}
    <main>
        <a class="button" href="/new_movement">Add new movement</a>
        <h1>Mis movimientos</h1>
        <table>
            <tr>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Importe</th>
            </tr>
            {%for movement in the_movements%} <!-- Ahora movement es un objeto Movement por lo que debemos usar los atributos-->
            <tr>
                <td>{{movement.date}}</td> <!-- Ahora esto es un atributo del objeto Movement, no es la clave date de un diccionario. Idem con el resto (abstract, amount y currency)-->
                <td>{{movement.abstract}}</td>
                <td>{{ "%0.2f" | format(movement.amount | float) }} {{movement.currency}}</td>
                <td><a href="/update_movement/{{ loop.index0 }}">Edit</a></td> <!-- El loop index es una cosa de jinja. Ver docs -->
            </tr>
            {% endfor %}
        </table>
    </main>
{% endblock %}