<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi Cartera</title>
    </head>
    <body>
        <section>
            <h1>Mis movimientos</h1>
            <table>
                <tr>
                    <th>Fecha</th>
                    <th>Cocepto</th>
                    <th>Importe</th>
                </tr>
                {%for movement in the_movements%}
                <tr>
                    <td>{{movement.Date}}</td>
                    <td>{{movement.Abstract}}</td>
                    <td>{{movement.Amount}} {{movement.Currency}}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </body>
</html>