<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi Cartera</title>
    </head>
    <body>
        <section>
            <h1>Mis movimientos</h1>
            <table>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Importe</th>
                <tr>
                    <td>01/01/2023</th>
                    <td>Sueldo</th>
                    <td>1000.00 EUR</th>
                </tr>
                <tr>
                    <td>05/01/2023</th>
                    <td>Comprar pan</th>
                    <td>-20.00 EUR</th>
                </tr>
                </tr>
            </table>
        </section>
    </body>
</html>