{% extends "base.html" %}

{%block content%}
    <main>
        <a class="button" href="/">Cancel</a>
        <h1> Add a movement </h1>
        <form action="/new_movement" method="post">
            {{the_form.csrf_token}} <!--Esto es un token que genera WTForms y que gracias a ello pone seguridad al formulario, no es tan hackeable-->
            <div>
                {{the_form.date.label}}
                {{the_form.date}}
                {{the_form.date.errors}} <!--Gracias a WTForms te permite poner errores personalizados para cada campo. No lo vamos a usar aqui pero molara-->
            </div><div>
                {{the_form.abstract.label}}
                {{the_form.abstract}}
            </div><div>
                {{the_form.abstract.label}}
                {{the_form.amount(step=0.01, type=number)}} <!--Lo que metas aqui dentro lo transforma en atributo html-->
            </div><div>
                {{the_form.currency.label}}
                {{the_form.currency}}
                </select><br><br>
            </div><div>
                {{the_form.submit}}
            </div>
        </form>
    </main>
{% endblock %}